.navbar{
    display : flex;
    justify-content : space-between;
    align-items : center;
    width : 99%;
    margin : auto

}

.innerNav{
    display : flex;
    justify-content : space-between;
    align-items : center;
    width : 10%;
    margin : auto
}

.inactive {
    color: #fff;
    text-decoration: none;
}

.active {
    color: red;
    text-decoration: none;
  }